
a {color:#F00}

/* стиль для заголовков текста блока */
.title {
	text-align: center;
	font: 700 12 Verdana, Geneva, sans-serif;
	color: #666
}

/* глобальные стили оформления открывающегося окна */
#open_block { 
   	position: absolute;
	width: 320px;
	left: 35%;
  	top: 100px;
	display: none;
  	z-index: 10;
    overflow: hidden;
	background: #f6f6f6;
}

/* стили для "Закрыть" */
#close {
	float: right;
	font: 10px Verdana, Geneva, sans-serif;
	color: #999;
	margin: 10px 0 0 0;
}




/* стили для обромления блока, на мой взгляд в редактировании не нуждается */
.content {margin-right:0;color:#999;font: 11px Verdana, Geneva, sans-serif;text-align:justify}	
.top_left0, .top_right0, .bottom_left0, .bottom_right0 {width:22px;height:22px}
	.top_left0 {background:url(img/white/top_left.png) no-repeat}
	.top_right0 {background:url(img/white/top_right.png) no-repeat}
	.bottom_left0 {background:url(img/white/bottom_left.png) no-repeat}
	.bottom_right0 {background:url(img/white/bottom_right.png) no-repeat}
.top0, .bottom0 {height:22px}
	.top0 {background:url(img/white/top.png) repeat-x}
	.bottom0 {background:url(img/white/bottom.png) repeat-x}
.left0, .right0 {width:22px}
	.left0 {background:url(img/white/left.png) repeat-y}
	.right0 {background:url(img/white/right.png) repeat-y}